<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品管理</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
</head>
<body>

    <table id="product" lay-filter="product" class="layui-hide" lay-even lay-skin="nob"></table>


</body>
<script src="../../static/layui/layui.js"></script>
<script>
    var tableIns ;
    layui.use(['table','jquery'], function(){
        var table = layui.table,
            $ = layui.jquery;
     /*   var parentIframe = window.parent.frames["productList"];
        if(window.attachEvent){
            parentIframe.height = $(this).document.documentElement.scrollHeight -15;
        }else{
            parentIframe.height = $(this).document.body.scrollHeight -15;
        }*/
        //第一个实例
        tableIns = table.render({
            elem: '#product',
            toolbar: '#toolbarDemo',
            height: 460,
            cellMinWidth: 80,
            url: '/myerp/product/productList', //数据接口
            page: true, //开启分页
            totalRow:false,
            cols: [[ //表头
                {type:'checkbox'},
                {field: 'id', title: 'ID',  sort: true}
                ,{field: 'productType', title: '产品类别', sort: true}
                ,{field: 'productName', title: '产品名称'}
                ,{field: 'productBriefly', title: '产品简介'}
                ,{field: 'createUser', title: '创建人'}
                ,{field: 'createDate', title: '创建时间'}
            ]]
            ,response: {
                statusCode: '0000' //重新规定成功的状态码为 200，table 组件默认为 0
            }
            ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                // setParentIframeHeight();
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
        });

        //监听事件
        table.on('toolbar(product)', function(obj){
            var checkStatus = table.checkStatus('product');
            switch(obj.event){
                case 'add':
                    // layer.msg('添加');
                    layer.open({
                        type: 2,
                        title:'添加产品'
                        ,content: '/myerp/templates/productInfo/addProduct.html' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        ,closeBtn:1
                        ,anim: 0
                        ,success: function (layero, index) {
                            // 获取子页面的iframe
                            var iframe = window['layui-layer-iframe' + index];
                            // 向子页面的全局函数child传参
                            iframe.echoData(checkStatus.data,indexLoad);
                        }
                    });
                    break;
                case 'delete':
                    layer.msg('删除');
                    console.log(checkStatus.data);
                    break;
                case 'update':
                    var indexLoad = layer.open({
                        type: 2,
                        title:'修改产品'
                        ,content: '/myerp/templates/productInfo/editProduct.html' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        ,closeBtn:1
                        ,anim: 0
                        ,success: function (layero, index) {
                            // 获取子页面的iframe
                            var iframe = window['layui-layer-iframe' + index];
                            // 向子页面的全局函数child传参
                            iframe.echoData(checkStatus.data,indexLoad);
                        }
                    });
                    break;
            }
        });

    });

    function setParentIframeHeight(){
        try{
            var parentIframe = window.parent.document.frames["productList"];
            if(window.attachEvent){
                parentIframe.height = this.document.documentElement.scrollHeight -15;
            }else{
                parentIframe.height = this.document.body.scrollHeight -15;
            }
        }catch(e){
            console.error(e);
            throw new Error('setParentIframeHeight Error');
        }
    }

</script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
    </div>
</script>
</html>